ul.example-selector {
    display:block;
    list-style-type: none;
    height: 15px;
    margin: 0;
    padding: 0;
}
ul.example-selector li {
    display: block;
    cursor: pointer;
    font-weight: bold;
    margin: 0 5px 0 0;
    padding: 2px 3px;
    float: left;
    color: #7c7c7c;
    border-radius: 2px 2px 0 0;
    border: 1px solid #ddd;
    border-bottom: none;
}
ul.example-selector li:hover {
	color: #000;
}
ul.example-selector li.selected {
	text-decoration: underline;
}
ul.example-selector li.selected:hover {
}
